index page
<br>
<button class="btn btn-info" id="scrape">Scrape new articles</button>
<button class="btn btn-success" id="article">Show new articles</button>

{{#each dbArticle}}
    <div>{{this.title}}</div>
    <a href="{{this.url}}">Link</a>
{{/each}}